/* Global Styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Section Heading */
.section-heading {
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    border-bottom: 0.3rem solid #333;
}

/* Section 1: Introduction */
.section-1 {
    width: 100%;
    height: 100vh;
    padding: 0 2rem;
    gap: 4rem;
}

.section-1-info {
    margin-top: 4rem;
    font-size: 6rem;
    font-weight: 700;
}

.section-1-info > * {
    margin: 1rem;
}

.person-img {
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    object-fit: cover;
}

/* Buttons */
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 2rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover, .btn-primary:focus {
    color: #fff;
    background-color: #0056b3;
    border-color: #004085;
    cursor: pointer;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-primary:disabled {
    background-color: #007bff;
    border-color: #007bff;
}

.rounded-pill {
    border-radius: 50rem;
}

.px-3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Section 2: Navbar */
.navbar {
    width: 100%;
    height: 4rem;
    background-color: #007bff;
    box-shadow: 0.2rem 0.2rem 0.5rem #555;
    z-index: 300;
    position: fixed;
    top: 0;
}

.navbar-link {
    font-size: 1.7rem;
    font-weight: 600;
    color: #fff;
    margin: 0 3rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    position: relative;
    transition: color 0.2s;
}

.navbar-link::before {
    content: "";
    width: 0%;
    height: 0.2rem;
    background-color: #555;
    position: absolute;
    right: -15%;
    bottom: -0.3rem;
    transition: 0.2s;
}

.navbar-link:hover, .change.navbar-link {
    color: #555;
}

.navbar-link:hover::before, .change.navbar-link::before {
    width: 130%;
}

/* Section 3: About Me */
.section-2 {
    width: 100%;
    padding-top: 2rem;
    flex-direction: column;
    background-color: #f2f2f2;
}

.section-2-heading {
    margin-top: 5rem;
    text-align: center;
}

.about {
    box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
    border-radius: 5px;
    padding: 2rem;
}

.about-me-paragraph {
    font-size: 1.6rem;
    margin: 1.5rem auto;
    max-width: 800px;
    line-height: 1.6;
    text-align: center;
    color: #333;
    font-weight: 300;
    padding: 1rem;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Section 4: Projects */
.section-3 {
    width: 100%;
    padding: 10rem 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-wrapper {
    width: 80%;
    flex-wrap: wrap;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    background-color: #fff;
    box-shadow: 0.3rem 0.3rem 0.5rem #777;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.5s;
}

.project:hover {
    box-shadow: 1rem 1rem 1rem #777;
}

.project-text {
    text-align: center;
    letter-spacing: 0.1rem;
    position: absolute;
    top: -10rem;
    transition: top 0.2s;
    z-index: 10;
}

.project:hover .project-text {
    top: 5rem;
}

.project-name {
    font-size: 3rem;
    font-weight: 700;
}

.project-technologies {
    font-size: 1.8rem;
}

.project-img {
    width: 40rem;
    transition: opacity 0.3s;
    object-fit: cover;
    max-height: 200px;
}

.project-links {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
}

.project:hover .project-link {
    bottom: 0;
    opacity: 1;
}

.project-link {
    position: relative;
    bottom: 0;
    transition: bottom 0.3s ease, opacity 0.3s ease;
    opacity: 0;
}

.project:hover .project-link {
    bottom: 5rem;
}

.project:hover .project-img {
    opacity: 0.2;
}

/* Section 5: Skills */
.skills-container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap */
    justify-content: space-between; /* Space between boxes */
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.skills-box {
    background-color: #0056b3;
    border-radius: 20px;
    padding: 20px;
    flex: 1 1 calc(33.333% - 40px); /* Flex items with equal width, accounting for gap */
    max-width: calc(33.333% - 40px); /* Ensure max-width matches flex calculation */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}

.skills-heading {
    font-size: 3rem;
    color: #e3e3e3;
    text-align: center;
    margin-bottom: 20px;
}

.skills-list {
    list-style: none;
    padding: 0;
    color: #e3e3e3;
    margin: 0;
}

.skills-list li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.skills-list li::before {
    content: "✓";
    color: #7B66FF;
    margin-right: 10px;
}

.skills-list li i {
    margin-right: 10px;
    font-size: 24px;
}

/* Section 6: Contact */
.section-4 {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f2f2f2;
}

.section-4-heading {
    margin-bottom: 1rem;
}

.contact-form {
    box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
    border-radius: 5px;
    padding: 2rem;
    width: 50rem;
    flex-direction: column;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem;
}

.contact-form textarea {
    max-height: 15rem;
    max-width: 100%;
}

/* Section 7: Footer */
.section-5 {
    width: 100%;
    height: 30vh;
    background-color: #007bff;
    flex-direction: column;
}

.social-media {
    margin-bottom: 5rem;
}

.social-media-link {
    margin: 0 2rem;
    padding: 0.7rem;
    background-color: #3db8f5;
    border-radius: 0.5rem;
    display: inline-block;
}

.social-media-link i {
    font-size: 3rem;
    color: #fff;
}

.contact-info {
    text-align: center;
    margin-top: 1rem;
}

.contact-info i {
    margin-right: 0.5rem;
    color: #e3e3e3;
}

.copy-right {
    font-size: 1.3rem;
    color: #eef;
    margin-top: 2rem;
    text-align: center;
}

/* Media Queries */
@media (max-width: 1200px) {
    .section-4 {
        height: 80vh;
    }

    .skills-container {
        padding: 10px;
    }

    .skills-box {
        flex: 1 1 calc(50% - 40px); /* Adjust width to 50% for medium screens */
        max-width: calc(50% - 40px);
    }
}

@media (max-width: 768px) {
    .skills-container {
        flex-direction: column;
        align-items: center;
    }

    .skills-box {
        flex: 1 1 100%; /* Full width for small screens */
        max-width: 100%;
    }

    .section-2 {
        padding: 2rem 1rem;
    }

    .section-2-heading {
        font-size: 3rem;
    }

    .about-me-paragraph {
        font-size: 1.4rem;
        margin: 1rem auto;
        max-width: 95%;
    }
}

@media (max-width: 600px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 520px) {
    html {
        font-size: 42%;
    }

    .navbar-link {
        margin: 0 1.5rem;
    }

    .section-1 {
        width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 480px) {
    /* General styles */
.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

.section-1 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-1-info h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.section-1-info h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.person-img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    margin-top: 1.5rem;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    font-size: 1rem;
}

.contact-form input[type="submit"] {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
}

/* Responsive styles */
@media only screen and (max-width: 520px) {
    .section-1-info h1 {
        font-size: 2rem;
    }

    .section-1-info h2 {
        font-size: 1rem;
    }

    .person-img {
        width: 150px;
        height: auto;
    }

    .contact-form input,
    .contact-form textarea {
        font-size: 0.875rem;
        padding: 0.4rem;
    }

    .contact-form input[type="submit"] {
        font-size: 0.875rem;
        padding: 0.6rem 1.2rem;
    }
}

    .skills-box {
        width: 100%;
    }

    .section-2-heading {
        font-size: 2.5rem;
    }

    .about-me-paragraph {
        font-size: 1.3rem;
        margin: 1rem auto;
        max-width: 100%;
    }
}
